@model IEnumerable<SinglePageCMS.Models.Image>
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("آپلود عکس", "AddImage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageCategory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Path)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Path)
        </td>
        <td>
            @Ajax.ActionLink("حذف","DeleteImage",new { id = item.Id }, new AjaxOptions()
            {
                OnSuccess = "DeleteTriggered",
                UpdateTargetId = "ajax-container",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "Post" 
            }, new
            {
                @class="deleteimage"
            })

            @Ajax.ActionLink("حذف", "DeleteImage", new { id = item.Id }, new AjaxOptions()
            {
                OnSuccess = "EditTriggered",
                UpdateTargetId = "ajax-container",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "Get"
            }, new
            {
                @class = "editimage"
            })

            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}
</table>
